{% load static %}

<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Delete {{ data.title }}</title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>


<body>
	<header>
		<a href="/shop/{{ data.id }}" class="btn">Back</a>
        <p>TV Show Shop</p>
        <a href="/" class="btn">Socket.io</a>
	</header>

	<main>
			<p>How many {{ data.title }} do you want ?</p>
			<form method="POST">
				{% csrf_token %}

				{{ form.as_p }}

				<p class="error_message">{{ erreur }}</p>

				<input type="submit" value="Buy" class="btn"/>
			</form>
	</main>
</body>

</html>